# Ignorar arquivos e pastas de cache do Python
__pycache__/

# Ignorar ambiente virtual
venv/

# Outros exemplos comuns
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de ambiente
.env
# Arquivo contendo chave privada do GitHub App
private_key.pem
